[
    {
        "name": "parse_hex4.c",
        "files": [
            "tests/parse_hex4.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "parse_hex4.c - GENERALIZED",
        "main": "parse_hex4_should_parse_all_combinations",
        "compilation_cmd": "-DUNITY_EXCLUDE_SETJMP_H -DTIS_GENERALIZED_MODE",
        "files": [
            "tests/parse_hex4.c",
            "cJSON_Utils.c",
            "tests/unity/src/unity.c"
        ],
        "value-profile": "analyzer",
        "val-slevel-merge-after-loop": "-@all",
        "slevel": 1000
    }
]
